body {
    background-image: url('https://cdn.pixabay.com/photo/2022/09/13/11/30/pattern-7451714_1280.jpg'); 
    
    background-size: cover; 
    
    background-repeat: no-repeat; 
    
    background-position: center center; 
    
    background-attachment: fixed; 
    
    background-color: #3f51b5;
}